<!-- Interpolation:  -->
<app-discount></app-discount>

<!-- Attribute Directive -->
<app-best-fruit></app-best-fruit>

<!-- Structural Directive - *ngIf -->
<app-specials></app-specials>

<!-- Structural Directive - *ngFor -->
<app-desserts></app-desserts>

<!-- @Input() -->
<app-sales [percent]="10" category="Beverages"></app-sales>

<!-- Property Binding -->
<app-slogan></app-slogan>

<!-- Events: -->
<app-recommended></app-recommended>

<!-- Two-Way Binding: -->
<app-search></app-search>

<!-- Pipe: -->
<app-pricing></app-pricing>

<!-- Lifecycle Hooks: -->
<app-clock></app-clock>

<!-- Services: -->
<app-inventory></app-inventory>

<app-vat-calculator></app-vat-calculator>